.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 40%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #7a2df2;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #7a2df2;
    cursor: pointer;
  }
  .discount-background {
    background-color : #F2C02D;
    color : #FFFFFF;
  }
  .discount-btn{
    color : #FFFFFF;   
    background-color :#7a2df2
  }
  .discount-btn:hover{
    color : #FFFFFF;   
    background-color :#b38eed
  }
  .footer {
    clear: both;
    height: 150px;
    position: fixed;
    bottom: 0;
    text-align: center;  
    right: 0;
    left: 0;
  }